<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modifier Profil</title>
  <link rel="stylesheet" href="compte.css">
</head>
<body>
  <header class="header">
    <h1 class="logo">La bibliothèque numérique</h1>
    <nav>
      <a href="accueil.html" class="btn">Accueil</a>
      <a href="index.html" class="btn">Déconnexion</a>
    </nav>
  </header>

  <main class="form-container">
    <h2 class="form-title">Modifiez votre profil</h2>
    <form>
      <label for="pseudo">Modifier votre pseudo:</label>
      <input type="text" id="pseudo" placeholder="Enter your value">

      <label for="email">Modifier votre adresse mail:</label>
      <input type="email" id="email" placeholder="Enter your value">

      <label for="password">Modifier votre mot de passe:</label>
      <input type="password" id="password" placeholder="Enter your value">

      <button type="submit" class="btn-submit">Validée</button>
    </form>
  </main>

  <footer class="footer">
    <a href="#">A propos de nous</a>
    <a href="#">Contactez nous</a>
    <a href="#">Mention legal</a>
    <a href="#">Condition générales</a>
  </footer>
</body>
</html>
