<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="accueil">
            <div class="rectangle"></div>
            <div class="text-wrapper">La bibliothèque numérique</div>
            <div class="div"></div>
            <div class="text-wrapper-2">Connexion</div>
            <div class="rectangle-2"></div>
            <div class="text-wrapper-3">Inscription</div>
            <div class="rectangle-3"></div>
            <p class="p">Pour la sauvegarde de notre culture et histoire:</p>
            <p class="text-wrapper-4">
                Ultron ne dois pas nous priver de notre culture, notre histoire et notre savoir. Lisez ici des centaines de
                livres mis a votre disposition
            </p>
            <img class="livres-anciens-musee" src="img/livres-anciens-musee-1.png" />
            <div class="rectangle-4"></div>
            <div class="text-wrapper-5">Contactez nous</div>
            <div class="text-wrapper-6">Mention legal</div>
            <div class="text-wrapper-7">A propos de nous</div>
            <div class="text-wrapper-8">Condition générales</div>
            <div class="rectangle-5"></div>
            <p class="text-wrapper-9">A quelle fonctionnalité ai je accés une fois inscrit?:</p>
            <p class="text-wrapper-10">
                Vous pourrez avoir un accés illimité a notre bibliotheque, mettre en favoris vos ouvrages préféré et avoir un
                suivis de vos lecture
            </p>
        </div>
    </body>
</html>


