.inscription {
    background-color: #ffffff;
    width: 100%;
    min-width: 1024px;
    min-height: 768px;
    position: relative;
}

.inscription .rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 82px;
    background-color: #110f0f;
}

.inscription .text-wrapper {
    position: absolute;
    top: 9px;
    left: 15px;
    font-family: "Jacques Francois-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.inscription .div {
    position: absolute;
    top: 25px;
    left: 901px;
    width: 99px;
    height: 34px;
    background-color: #e76d10;
    border-radius: 10px;
}

.inscription .text-wrapper-2 {
    position: absolute;
    top: 25px;
    left: 923px;
    font-family: "Instrument Serif-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.inscription .rectangle-2 {
    position: absolute;
    top: 25px;
    left: 780px;
    width: 99px;
    height: 34px;
    background-color: #e76d10;
    border-radius: 10px;
}

.inscription .text-wrapper-3 {
    position: absolute;
    top: 25px;
    left: 785px;
    width: 90px;
    font-family: "Instrument Serif-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.inscription .rectangle-3 {
    position: absolute;
    top: 681px;
    left: 0;
    width: 1024px;
    height: 87px;
    background-color: #121111;
}

.inscription .text-wrapper-4 {
    position: absolute;
    top: 706px;
    left: 297px;
    width: 157px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.inscription .text-wrapper-5 {
    position: absolute;
    top: 706px;
    left: 544px;
    width: 157px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.inscription .text-wrapper-6 {
    position: absolute;
    top: 706px;
    left: 34px;
    width: 157px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.inscription .text-wrapper-7 {
    position: absolute;
    top: 706px;
    left: 791px;
    width: 197px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.inscription .aminput-dont-rename {
    display: flex;
    width: 250px;
    align-items: center;
    padding: 12px;
    position: absolute;
    top: 387px;
    left: 388px;
    background-color: #e1bcbccc;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #00000029;
}

.inscription .focus-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 12px;
    left: 12px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2px solid;
    border-color: #0d1ce3;
}

.inscription .text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.inscription .placeholder {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    opacity: 0.6;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.inscription .caret-indicator {
    position: relative;
    width: 1px;
    height: 10px;
    background-color: #ffffff;
}

.inscription .aminput-dont-rename-2 {
    top: 507px;
    left: 388px;
    display: flex;
    width: 250px;
    align-items: center;
    padding: 12px;
    position: absolute;
    background-color: #e1bcbccc;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #00000029;
}

.inscription .text-wrapper-8 {
    position: absolute;
    top: 342px;
    left: 390px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.inscription .aminput-dont-rename-3 {
    top: 266px;
    left: 390px;
    display: flex;
    width: 250px;
    align-items: center;
    padding: 12px;
    position: absolute;
    background-color: #e1bcbccc;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #00000029;
}

.inscription .text-wrapper-9 {
    position: absolute;
    top: 221px;
    left: 392px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.inscription .p {
    position: absolute;
    top: 468px;
    left: 390px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.inscription .rectangle-4 {
    position: absolute;
    top: 588px;
    left: 445px;
    width: 135px;
    height: 54px;
    background-color: #e76d10;
    border-radius: 10px;
}

.inscription .text-wrapper-10 {
    position: absolute;
    top: 594px;
    left: 453px;
    font-family: "Instrument Serif-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.inscription .rectangle-5 {
    position: absolute;
    top: 117px;
    left: calc(50.00% - 369px);
    width: 726px;
    height: 67px;
    background-color: #c54d4d;
    border-radius: 30px;
}

.inscription .text-wrapper-11 {
    position: absolute;
    top: 126px;
    left: calc(50.00% - 351px);
    font-family: "Instrument Serif-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}
