<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="inscription.css" />
    </head>
    <body>
        <div class="inscription">
            <div class="rectangle"></div>
            <div class="text-wrapper">La bibliothèque numérique</div>
            <div class="div"></div>
            <div class="text-wrapper-2">accueil</div>
            <div class="rectangle-2"></div>
            <div class="text-wrapper-3">connexion</div>
            <div class="rectangle-3"></div>
            <div class="text-wrapper-4">Contactez nous</div>
            <div class="text-wrapper-5">Mention legal</div>
            <div class="text-wrapper-6">A propos de nous</div>
            <div class="text-wrapper-7">Condition générales</div>
            <div class="aminput-dont-rename">
                <div class="focus-frame"></div>
                <div class="text"></div>
                <div class="placeholder">Enter your value</div>
                <div class="caret-indicator"></div>
            </div>
            <div class="aminput-dont-rename-2">
                <div class="focus-frame"></div>
                <div class="text"></div>
                <div class="placeholder">Enter your value</div>
                <div class="caret-indicator"></div>
            </div>
            <div class="text-wrapper-8">Entrez votre adresse mail:</div>
            <div class="aminput-dont-rename-3">
                <div class="focus-frame"></div>
                <div class="text"></div>
                <div class="placeholder">Enter your value</div>
                <div class="caret-indicator"></div>
            </div>
            <div class="text-wrapper-9">Entrez votre pseudo:</div>
            <p class="p">Entrez votre mot de passe:</p>
            <div class="rectangle-4"></div>
            <div class="text-wrapper-10">Inscription</div>
            <div class="rectangle-5"></div>
            <p class="text-wrapper-11">Devenez un grand lecteur grâce à la création de votre compte</p>
        </div>
    </body>
</html>
