<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="livre.css" />
    </head>
    <body>
        <div class="livre">
            <div class="rectangle"></div>
            <div class="text-wrapper">La bibliothèque numérique</div>
            <div class="div"></div>
            <div class="text-wrapper-2">accueil</div>
            <div class="rectangle-2"></div>
            <div class="text-wrapper-3">compte</div>
            <div class="rectangle-3"></div>
            <div class="text-wrapper-4">Contactez nous</div>
            <div class="text-wrapper-5">Mention legal</div>
            <div class="text-wrapper-6">A propos de nous</div>
            <div class="text-wrapper-7">Condition générales</div>
            <a href="index.html"><img class="element" src="img/1003w-uk1z20759kq-1.png" /></a>
            <div class="text-wrapper-8">auteur</div>
            <div class="text-wrapper-9">genre</div>
            <div class="text-wrapper-10">date de publication</div>
            <div class="text-wrapper-11">resumer</div>
            <p class="p">mettre en favoris? oui non</p>
        </div>
    </body>
</html>
